
NFL data/2010_nfl.csv
NFL data/2011_nfl.csv
NFL data/2012_nfl.csv
NFL data/2013_nfl.csv
NFL data/2014_nfl.csv
NFL data/2015_nfl.csv
NFL data/2016_nfl.csv
NFL data/2017_nfl.csv
NFL data/2018_nfl.csv
NFL data/2019_nfl.csv
NFL data/2020_nfl.csv
NFL data/2021_nfl.csv
NFL data/2022_nfl.csv
NFL data/2023_nfl.csv
config.py
